<section
  class="additional"
  style="background-image: url('img/additional-bg.jpg')"
>
  <div class="container">
    <div class="additional__offer">
      <h2 class="additional__title">
        Дополнительные обязательства владельца сайта
      </h2>

      <p class="additional__text">
        Независимо от ценовой категории в случае отторжения импланта для
        частичной оплаты операции по установке которого использовался сертификат
        “Безопасная имплантация с двойной гарантией” владелец сайта
        <b> выплачивает пациенту неустойку в сумме 10 000 рублей. </b>
      </p>
    </div>
  </div>
</section>
