<section class="advantages">
  <div class="container">
    <h2 class="advantages__title">
      Это не очередной <br />
      справочник стоматологий
    </h2>
    <p class="advantages__text">
      здесь только клиники устанавливающие импланты по навигационному шаблону,
      что позволяет избежать осложнений и гарантировать приживляемость в 99,8 %
    </p>

    <ul class="advantages__list">
      <li class="advantages__item advantages__item--selection">Подбор клиники по 10 параметрам</li>
      <li class="advantages__item advantages__item--guarantee">Гарантия от сервиса на 10 000 руб.</li>
      <li class="advantages__item advantages__item--economy">Ваша экономия составит до 5000 руб.</li>
      <li class="advantages__item advantages__item--help">
        Помощь в подборе и выборе клиники
      </li>
    </ul>
  </div>
</section>
