<section class="blog">
  <div class="section-top">
    <div class="container">
      <div class="section-top__inner">
        <h1 class="section-top__title">Блог</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-wrapper">
      <ul class="blog__list">
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/1.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Импланты Nobel – качество, проверенное временем
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/2.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Системы имплантов: установка, уход, профилактика
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/3.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Системы имплантов: установка, уход, профилактика
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/4.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Импланты Nobel – качество, проверенное временем
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/5.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Системы имплантов: установка, уход, профилактика
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/6.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Системы имплантов: установка, уход, профилактика
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/1.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Импланты Nobel – качество, проверенное временем
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/2.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Системы имплантов: установка, уход, профилактика
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/3.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Системы имплантов: установка, уход, профилактика
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/4.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Импланты Nobel – качество, проверенное временем
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/5.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Системы имплантов: установка, уход, профилактика
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <a class="blog-card__top" href="#">
              <img src="img/blog/6.jpg" alt="Блог" />
            </a>
            <div class="blog-card__body">
              <div class="blog-card__details">
                <a class="blog-card__detail blog-card__detail--date" href="#">
                  08.04.2022
                </a>
                <p class="blog-card__detail blog-card__detail--user">
                  Автор: <a href="#"> Иван Иванов </a>
                </p>
              </div>
              <h3 class="blog-card__title">
                <a href="#">
                  Системы имплантов: установка, уход, профилактика
                </a>
              </h3>
            </div>
          </article>
        </li>
      </ul>

      <div class="blog__pagination pagination">
        <ul class="pagination__list">
          <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link pagination__link--further" href="#"
              >Далеее</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
