<section class="certificate certificate--big">
  <div class="container">
    <div class="certificate__wrapper">
      <div class="certificate__offer">
        <h2 class="certificate__title">
          Сертификат <br />
          «Безопасная имплантация с двойной гарантией»
        </h2>
        <ul class="certificate__list">
          <li class="certificate__item certificate__item--economy">
            <b>экономия</b> на оплате до 5000 руб.
          </li>
          <li class="certificate__item certificate__item--compensation">
            <b>право на компенсацию</b> в 10 000 руб. в случае отторжения
            импланта
          </li>
        </ul>
        <div class="certificate__text">
          <p>
            Настоящий сертификат принимается клиниками участниками проекта в
            счёт частичной оплаты операции имплантация зубов.
          </p>
          <p>
            Клиника, принимающая к оплате сертификат, обозначенаыы
            знаком__________.
          </p>
          <p>
            В случае отторжения импланта, частичная оплата операции по установке
            которого была проведена с использованием сертификата, организатор
            проекта
          </p>
          <p>
            «Безопасная имплантация» выплачивает пациенту неустойку в сумме 10
            000 руб.
          </p>
        </div>
      </div>

      <div class="certificate__right">
        <div
          class="certificate__img"
          style="background-image: url('img/certificate.png')"
        ></div>

        <button class="certificate__btn btn btn-buy" type="button">
          Купить сертификат за 500 руб.
        </button>
      </div>
    </div>
  </div>
</section>
