<section class="conventions">
  <div class="container">
    <h2 class="conventions__title">Условные обозначения</h2>
    <p class="conventions__text">
      мы разработали оригинальные пиктограммы, позволяющие мгновенно оценить
      особенности клиники
    </p>

    <ul class="conventions__list">
      <li class="conventions__item conventions__item--payment">
        Оплата сертификатом «Безопасная имплантация»
      </li>
      <li class="conventions__item conventions__item--gift">Розыгрыш призов</li>
      <li class="conventions__item conventions__item--credit">
        Беспроцентная рассрочка или кредит
      </li>
      <li class="conventions__item conventions__item--discount">
        Скидки в «горящее время»
      </li>
      <li class="conventions__item conventions__item--bonus">
        Частичная оплата бонусами
      </li>
      <li class="conventions__item conventions__item--guarantee">
        Расширенная гарантия от клиники
      </li>
      <li class="conventions__item conventions__item--finance">
        Финансовая гарантия владельца сайта
      </li>
      <li class="conventions__item conventions__item--anesthesia">
        Имплантация под наркозом
      </li>
    </ul>
  </div>
</section>
