<section class="about">
  <div class="section-top">
    <div class="container">
      <div class="section-top__inner">
        <h1 class="section-top__title">Все о безопасной имплантации</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="faqs__wrapper section-wrapper">
      <div class="faqs-accordion accordion">
        <button class="faqs-accordion__control accordion-control">
          Кому не следует устанавливать импланты?
        </button>
        <div class="faqs-accordion__content accordion-content">
          <div class="faqs-accordion__text">
            <p>
              Конечно, исключая очевидные противопоказания (инфекционные
              болезни, ЦНС, гипертонус жевательных мышц и др), для меня важен
              именно уход пациента за имплантами. Об это подробно уже написано,
              но иногда я оцениваю плохую гигиену как неуважение к моей работе.
              Поэтому очень надеюсь, что пациенты будут относится к этому
              серьезнее.
            </p>
          </div>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button class="faqs-accordion__control accordion-control">
          Насколько велик риск отторжения зубных имплантатов?
        </button>
        <div class="faqs-accordion__content accordion-content">
          <div class="faqs-accordion__text">
            <p>
              Конечно, исключая очевидные противопоказания (инфекционные
              болезни, ЦНС, гипертонус жевательных мышц и др), для меня важен
              именно уход пациента за имплантами. Об это подробно уже написано,
              но иногда я оцениваю плохую гигиену как неуважение к моей работе.
              Поэтому очень надеюсь, что пациенты будут относится к этому
              серьезнее.
            </p>
          </div>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button class="faqs-accordion__control accordion-control">
          Кому подходит имплантация?
        </button>
        <div class="faqs-accordion__content accordion-content">
          <div class="faqs-accordion__text">
            <p>
              Конечно, исключая очевидные противопоказания (инфекционные
              болезни, ЦНС, гипертонус жевательных мышц и др), для меня важен
              именно уход пациента за имплантами. Об это подробно уже написано,
              но иногда я оцениваю плохую гигиену как неуважение к моей работе.
              Поэтому очень надеюсь, что пациенты будут относится к этому
              серьезнее.
            </p>
          </div>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button class="faqs-accordion__control accordion-control">
          Как происходит процесс имплантации?
        </button>
        <div class="faqs-accordion__content accordion-content">
          <div class="faqs-accordion__text">
            <p>
              Конечно, исключая очевидные противопоказания (инфекционные
              болезни, ЦНС, гипертонус жевательных мышц и др), для меня важен
              именно уход пациента за имплантами. Об это подробно уже написано,
              но иногда я оцениваю плохую гигиену как неуважение к моей работе.
              Поэтому очень надеюсь, что пациенты будут относится к этому
              серьезнее.
            </p>
          </div>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button class="faqs-accordion__control accordion-control">
          А как скоро нужно менять временный протез?
        </button>
        <div class="faqs-accordion__content accordion-content">
          <div class="faqs-accordion__text">
            <p>
              Конечно, исключая очевидные противопоказания (инфекционные
              болезни, ЦНС, гипертонус жевательных мышц и др), для меня важен
              именно уход пациента за имплантами. Об это подробно уже написано,
              но иногда я оцениваю плохую гигиену как неуважение к моей работе.
              Поэтому очень надеюсь, что пациенты будут относится к этому
              серьезнее.
            </p>
          </div>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button class="faqs-accordion__control accordion-control">
          Почему нельзя сразу поставить керамический протез?
        </button>
        <div class="faqs-accordion__content accordion-content">
          <div class="faqs-accordion__text">
            <p>
              Конечно, исключая очевидные противопоказания (инфекционные
              болезни, ЦНС, гипертонус жевательных мышц и др), для меня важен
              именно уход пациента за имплантами. Об это подробно уже написано,
              но иногда я оцениваю плохую гигиену как неуважение к моей работе.
              Поэтому очень надеюсь, что пациенты будут относится к этому
              серьезнее.
            </p>
          </div>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button class="faqs-accordion__control accordion-control">
          Почему нельзя сразу поставить керамический протез?
        </button>
        <div class="faqs-accordion__content accordion-content">
          <div class="faqs-accordion__text">
            <p>
              Какие все-таки импланты лучше ставить?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
