<section class="features-payment">
  <div class="container">
    <h2 class="features-payment__title">
      Особенности оплаты протезирования коронкой в зависимости от ценового
      уровня
    </h2>

    <ul class="features-payment__list">
      <li class="features-payment__item">
        <span class="features-payment__name">Премиум</span>
        <p class="features-payment__text">
          бесплатно коронка, за которую пациент ещё не платил
        </p>
      </li>
      <li class="features-payment__item">
        <span class="features-payment__name">Стандарт</span>
        <p class="features-payment__text">
          коронку оплачивает пациент с 50% скидкой
        </p>
      </li>
      <li class="features-payment__item">
        <span class="features-payment__name">Эконом</span>
        <p class="features-payment__text">
          коронку полностью оплачивает пациен
        </p>
      </li>
    </ul>
  </div>
</section>
