<section class="filters">
  <div class="container">
    <h2 class="filters__title">Фильтры</h2>
    <p class="filters__text">(подбор клиники для безопасной имплантации)</p>

    <form class="form-filters">
      <div class="form-filters__inner">
        <div class="form-filters__group">
          <label class="form-filters__label" for="aaa"
            >Рассрочка (кредит)</label
          >
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group">
          <label class="form-filters__label" for="aaa">Формы оплаты</label>
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group">
          <label class="form-filters__label" for="aaa">Скидки и льготы</label>
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group">
          <label class="form-filters__label" for="aaa">Технологии</label>
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group">
          <label class="form-filters__label" for="aaa"
            >Оплата труда врача</label
          >
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group">
          <label class="form-filters__label" for="aaa">Обезболивание</label>
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group form-filters__group--big">
          <label class="form-filters__label" for="aaa"
            >Оплата сертификатом «Безопасная имплантация с двойной»</label
          >
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group">
          <label class="form-filters__label" for="aaa"
            >Возможность выиграть смартфон</label
          >
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group">
          <label class="form-filters__label" for="aaa">Гарантии</label>
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
        <div class="form-filters__group form-filters__group--big">
          <label class="form-filters__label" for="aaa"
            >Оформление документов для получения налогового вычета</label
          >
          <select class="form-filters__select" id="aaa">
            <option>Выбрать из списка</option>
            <option value="1">Выбрать из списка</option>
            <option value="2">Выбрать из списка</option>
          </select>
        </div>
      </div>
      <button class="form-filters__btn btn" type="submit">Подобрать клинику</button>
    </form>
  </div>
</section>
