<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="footer__logo logo" href="index.html">
        <img src="img/logo-small.png" alt="Логотип" />
      </a>

      <nav class="footer__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#"> Все клиники </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Акции </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> О проекте </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> Блог </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> Новости </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> Все о безопасной имплантации </a>
          </li>
        </ul>
      </nav>

      <button class="footer__btn btn" type="button">Подобрать клинику</button>
    </div>

    <div class="footer__bottom">
      <p>
        Данный сайт носит информационный характер и не является публичной
        офертой.
      </p>
      <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
        <span>Разработка сайта</span>
        <img src="img/logo-company.png" alt="АдвансМедиа" />
      </a>
    </div>
  </div>
</footer>
