<header class="header header--no-shadow">
  <!-- Mobile Menu -->

  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo-small.png" alt="Логотип" />
      </a>

      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg width="19" height="19">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu__body">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <div class="mobile-menu-accordion accordion">
            <div class="accordion-top">
              <button class="mobile-menu__link accordion-control" type="button">
                Все клиники
              </button>
            </div>

            <div class="mobile-menu-accordion__content accordion-content">
              <ul class="mobile-menu-accordion__list">
                <li class="mobile-menu-accordion__item">
                  <a class="mobile-menu__link" href="#"> Все клиники</a>
                </li>
                <li class="mobile-menu-accordion__item">
                  <a class="mobile-menu__link" href="#"> Все клиники</a>
                </li>
                <li class="mobile-menu-accordion__item">
                  <a class="mobile-menu__link" href="#"> Все клиники</a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="stock.html">Акции</a>
        </li>

        <li class="mobile-menu__item">
          <div class="mobile-menu-accordion accordion">
            <div class="accordion-top">
              <button class="mobile-menu__link accordion-control" type="button">
                О проекте
              </button>
            </div>

            <div class="mobile-menu-accordion__content accordion-content">
              <ul class="mobile-menu-accordion__list">
                <li class="mobile-menu-accordion__item">
                  <a class="mobile-menu__link" href="#">О проекте</a>
                </li>
                <li class="mobile-menu-accordion__item">
                  <a class="mobile-menu__link" href="#">О проекте</a>
                </li>
                <li class="mobile-menu-accordion__item">
                  <a class="mobile-menu__link" href="#">О проекте</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="blog.html">Блог</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="news.html">Новости</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="faqs.html"
            >Все о безопасной имплантации</a
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- Mobile Menu -->

  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <a class="header__logo logo" href="index.html">
          <picture>
            <source srcset="img/logo-small.png" media="(max-width: 991px)" />
            <img src="img/logo-big.png" alt="" />
          </picture>
        </a>

        <select class="header__select select">
          <option>Самара</option>
          <option value="1">Киров</option>
          <option value="2">Москва</option>
        </select>

        <form class="header__search form-search">
          <div class="form-search__group">
            <input
              class="form-search__input"
              placeholder="Введите для поиска"
              required
            />

            <select class="form-search__select select">
              <option value="">Все клиники</option>
              <option value="1">Все клиники</option>
              <option value="3">Все клиники</option>
              <option value="2">Все клиники</option>
              <option value="4">Все клиники</option>
            </select>

            <button class="form-search__btn" type="button" aria-label="Искать">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
          </div>
        </form>

        <button class="header__btn btn" type="button">Подобрать клинику</button>

        <button class="header__toggle" type="button" aria-label="Открыть меню">
          <span class="header__toggle-line"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <a class="header__logo logo" href="index.html">
          <img src="img/logo-small.png" alt="" />
        </a>

        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a
                class="menu__link menu__link--dropdown menu__link--all"
                href="#"
              >
                Все клиники
              </a>

              <div class="dropmenu">
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Все клиники</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Все клиники</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Все клиники</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="stock.html">Акции </a>
            </li>
            <li class="menu__item">
              <a
                class="menu__link menu__link--dropdown"
                href="about.html"
                target="_blank"
              >
                О проекте
              </a>

              <div class="dropmenu">
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">О проекте</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">О проекте</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">О проекте</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">О проекте</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="blog.html"> Блог </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="news.html"> Новости </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="faqs.html">
                Все о безопасной имплантации
              </a>
            </li>
          </ul>
        </nav>

        <a class="header__mail" href="mailto:info@dental.ru">info@dental.ru</a>

        <button class="header__toggle" type="button" aria-label="Открыть меню">
          <span class="header__toggle-line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
