<header class="header">
  <!-- Mobile Menu -->

  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo-small.png" alt="Логотип" />
      </a>

      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg width="19" height="19">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu__body">
      <div class="mobile-menu__catalog">
        <button class="mobile-menu__btn mobile-menu__btn--dropdown">
          Каталог
        </button>

        <div class="dropmenu">
          <ul class="dropmenu__list">
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Цветы</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Букеты</a>
            </li>
            <li class="dropmenu__item">
              <a class="dropmenu__link" href="#">Поводы</a>
            </li>
          </ul>
        </div>
      </div>

      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">О нас</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Гарантии</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Доставка</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Возврат</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Оплата</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Контакты</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Отзывы</a>
        </li>
      </ul>

      <div class="mobile-menu__schedule">
        <span class="mobile-menu__schedule-icon">
          <svg width="18" height="18">
            <use xlink:href="images/sprite.svg#clock"></use>
          </svg>
        </span>
        круглосуточно 24/7
      </div>

      <div class="phone-item">
        <a href="tel:+79067021115">8 (906) 702-11-15</a>
        <span class="phone-item__text">для заказов и консультаций</span>
      </div>

      <button class="mobile-menu__call" type="button">
        Заказать обратный звонок
      </button>
    </div>

    <!-- <ul class="mobile-menu__body">
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Цветы
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Розы</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Пионы</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Ромашки</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Гортензии</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Хризантемы</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Георгины</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Каллы</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Ирисы</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Лилии</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Гиацинты</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Анемоны</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Эустома</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Герберы</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Сирень</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Букеты
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Букет невесты</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Недорогие цветы</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">VIP букеты</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Необычные</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Крафт</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Бизнес-букеты</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Полевые цветы</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Повод
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Татьянин день</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Новоселье</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">1 Сентября</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"
                  >Букеты ко дню матери</a
                >
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">День влюбленных</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Выписка из роддома</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">23 Февраля</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">8 Марта</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">9 мая</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Выпускной</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Годовщина</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">День Рождения</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"> День Учителя</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Новый Год</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Пасха</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Последний звонок</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Повышение</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Рождение ребенка</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Свадьба</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Свидание</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Юбилей</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Акции</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Новинки</a>
      </li>
    </ul> -->
  </div>

  <!-- Mobile Menu -->

  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <a class="header__logo logo" href="index.html">
          <picture>
            <source srcset="img/logo-small.png" media="(max-width: 991px)" />
            <img src="img/logo-big.png" alt="" />
          </picture>
        </a>

        <select class="header__select select">
          <option>Самара</option>
          <option value="1">Киров</option>
          <option value="2">Москва</option>
        </select>

        <form class="header__search form-search">
          <div class="form-search__group">
            <input
              class="form-search__input"
              placeholder="Введите для поиска"
              required
            />

            <select class="form-search__select select">
              <option value="">Все клиники</option>
              <option value="1">Все клиники</option>
              <option value="3">Все клиники</option>
              <option value="2">Все клиники</option>
              <option value="4">Все клиники</option>
            </select>

            <button class="form-search__btn" type="button" aria-label="Искать">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
          </div>
        </form>

        <button class="header__btn btn" type="button">Подобрать клинику</button>

        <button class="header__toggle" type="button" aria-label="Открыть меню">
          <span class="header__toggle-line"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a
                class="menu__link menu__link--dropdown menu__link--all"
                href="#"
              >
                Все клиники
              </a>

              <div class="dropmenu">
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Белые</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Красные</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Кремовые</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Малиновые</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Разноцветные</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Розовые</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Акции </a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link--dropdown" href="#">
                О проекте
              </a>

              <div class="dropmenu">
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Белые</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Красные</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Кремовые</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Малиновые</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Разноцветные</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Розовые</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#"> Блог </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#"> Новости </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#"> Все о безопасной имплантации </a>
            </li>
          </ul>
        </nav>

        <a class="header__mail" href="mailto:info@dental.ru">info@dental.ru</a>
      </div>
    </div>
  </div>
</header>
