<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">Безопасная имплантация</h1>
        <p class="hero__text">
          Единственный сервис подбора стоматологии для имплантации, создатель
          которого несёт ответственность за результат. Оформите заявку и
          получите предложения от 3-х стоматологий, максимально соответствующих
          вашим запросам.
        </p>

        <blockquote class="hero-quote">
          <div class="hero-quote__inner">
            <span class="hero-quote__title">Выплачу неустойку!</span>
            <p class="hero-quote__text">
              10 000 рублей, в случае отторжения импланта, если при оплате
              использовали сертификат «Безопасная имплантация».
            </p>
          </div>
          <div class="hero-quote__bottom">Алексей Жуков</div>
        </blockquote>

        <a class="hero__btn btn" href="#filters">
          Найти клинику для безопасной имплантации!
        </a>
      </div>
      <div
        class="hero__preview"
        style="background-image: url('img/hero.png')"
      ></div>

      <button class="hero__btn btn hero__btn--mobile" type="btn">
        Найти клинику для безопасной имплантации!
      </button>
    </div>
  </div>
</section>
