<section class="how-find">
  <div class="container">
    <h2 class="how-find__title">
      Как найти стоматологию <br />
      для безопасной имплантаци ?
    </h2>

    <div class="how-find__inner">
      <div class="how-find__row">
        <div class="how-find__right">
          Заполняете форму для сортировки стоматологий на основании ваших
          запросов
        </div>
      </div>
      <div class="how-find__row">
        <div class="how-find__left">
          Изучаете список клиник, соответствующих вашим запросам
        </div>
      </div>
      <div class="how-find__row how-find__row--middle">
        <div class="how-find__right">
          <span>Отправляете заявку в 3 клиники</span>
        </div>
      </div>
      <div class="how-find__row">
        <div class="how-find__left">
          Получаете предложение с расчётом цены, условиями оплаты и гарантий
        </div>
      </div>
      <div class="how-find__row">
        <div class="how-find__right">
          Выбираете клинику с наиболее выгодными условиями и записываетесь на
          консультацию
        </div>
      </div>
    </div>
  </div>
</section>
