<section class="how-save">
  <div class="container">
    <h2 class="how-save__title">
      Как сэкономить и получить право <br />
      на компенсацию в сумме 10 000 рублей
    </h2>

    <ul class="how-save__list">
      <li class="how-save__item">Покупаете сертификат</li>
      <li class="how-save__item">
        Выбираете клинику, получившую право работать с сертификатом
      </li>
      <li class="how-save__item">
        Предъявляете сертификат при оплате операции имплантации
      </li>
      <li class="how-save__item">
        Получаете подтверждение, что имплантация выполнена сертифицированным
        специалистом с использованием навигационного шаблона, изготовленному в
        лицензированной лаборатории
      </li>
    </ul>
  </div>
</section>
