<section class="news">
  <div class="section-top">
    <div class="container">
      <div class="section-top__inner">
        <h1 class="section-top__title">Новости</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="news__wrapper section-wrapper">
      <ul class="news__list">
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__details">
              <a class="news-card__detail news-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="news-card__detail news-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <div class="news-card__info">
              <h3 class="news-card__title">
                <a href="#">
                  Навигационная хирургия в имплантации - залог предсказуемости и
                  высокой эстетики результатов
                </a>
              </h3>
              <p class="news-card__text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting.
              </p>
            </div>
            <div class="news-card__img">
              <img src="img/news/1.jpg" alt="news" />
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__details">
              <a class="news-card__detail news-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="news-card__detail news-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <div class="news-card__info">
              <h3 class="news-card__title">
                <a href="#">
                  Навигационная хирургия в имплантации - залог предсказуемости и
                  высокой эстетики результатов
                </a>
              </h3>
              <p class="news-card__text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting.
              </p>
            </div>
            <div class="news-card__img">
              <img src="img/news/2.jpg" alt="news" />
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__details">
              <a class="news-card__detail news-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="news-card__detail news-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <div class="news-card__info">
              <h3 class="news-card__title">
                <a href="#">
                  Навигационная хирургия в имплантации - залог предсказуемости и
                  высокой эстетики результатов
                </a>
              </h3>
              <p class="news-card__text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting.
              </p>
            </div>
            <div class="news-card__img">
              <img src="img/news/3.jpg" alt="news" />
            </div>
          </article>
        </li>
      </ul>

      <div class="news__pagination pagination">
        <ul class="pagination__list">
          <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link pagination__link--further" href="#"
              >Далеее</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
