<section class="options">
  <div class="container">
    <h2 class="options__title">
      Сделайте первый шаг - <br />
      выберите вариант имплантации
    </h2>

    <ul class="options__list">
      <li class="options__item">
        <article class="implant-card">
          <a class="implant-card__top" href="#">
            <img src="img/implants/1.jpg" alt="implant" />
          </a>
          <div class="implant-card__body">
            <h3 class="implant-card__title">
              <a href="#">
                Одномоментная <br />
                имплантация
              </a>
            </h3>
            <span class="implant-card__text"
              >(одновременно с удалением зуба)</span
            >
          </div>
        </article>
      </li>
      <li class="options__item">
        <article class="implant-card">
          <a class="implant-card__top" href="#">
            <img src="img/implants/2.jpg" alt="implant" />
          </a>
          <div class="implant-card__body">
            <h3 class="implant-card__title">
              <a href="">
                Традиционная <br />
                имплантация
              </a>
            </h3>
            <span class="implant-card__text">(зуб уже удалён)</span>
          </div>
        </article>
      </li>
      <li class="options__item">
        <article class="implant-card">
          <a class="implant-card__top" href="#">
            <img src="img/implants/3.jpg" alt="implant" />
          </a>
          <div class="implant-card__body">
            <h3 class="implant-card__title">
              <a href="#"> Тотальная протезирование на имплантах </a>
            </h3>
            <span class="implant-card__text">(Всё на 4\6 имплантах)</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
