<div class="popup popup--buy">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Купить сертификат</h2>
      <div class="popup__text">
        <p>Оставьте ваши данные и мы вам перезвоним.</p>
      </div>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="online-name">Имя</label>

          <input
            class="form-submit__input"
            name="name"
            id="online-name"
            type="text"
            placeholder="Введите ваше имя"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="online-tel">
            Контактный телефон
          </label>

          <input
            class="form-submit__input"
            name="tel"
            id="online-tel"
            type="tel"
            placeholder="+7 (___) ___-__-__"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__checkbox checkbox">
            <input class="checkbox__input" type="checkbox" required />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              Соглашаюсь с<a href="#"> обработкой персональных данных</a>
            </span>
          </label>
        </div>
        
        <button class="form-submit__btn btn" type="button">
          Купить сертификат
        </button>
      </form>
    </div>
  </div>
</div>
<div class="popup popup--map">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <div class="popup__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A27f1dbe036244e7c46eccd6a89911e63f60f864bcf50167f4d0e064a94918c9c&amp;source=constructor"
          width="400"
          height="1000"
        ></iframe>
      </div>
    </div>
  </div>
</div>
