<section class="product-licenses" id="licenses">
  <div class="container">
    <h2 class="product-licenses__title product-title">Лицензии</h2>

    <ul class="product-licenses__list">
      <li
        class="product-licenses__item"
        data-fancybox
        data-src="img/licenses.jpg"
      >
        <img
          src="img/licenses.jpg"
          data-fancybox
          data-src="img/licenses.jpg"
          alt="licenses"
        />
      </li>
      <li class="product-licenses__item">
        <img
          src="img/licenses.jpg"
          data-fancybox
          data-src="img/licenses.jpg"
          alt="licenses"
        />
      </li>
      <li class="product-licenses__item">
        <img
          src="img/licenses.jpg"
          data-fancybox
          data-src="img/licenses.jpg"
          alt="licenses"
        />
      </li>
      <li class="product-licenses__item">
        <img
          src="img/licenses.jpg"
          data-fancybox
          data-src="img/licenses.jpg"
          alt="licenses"
        />
      </li>
      <li class="product-licenses__item">
        <img
          src="img/licenses.jpg"
          data-fancybox
          data-src="img/licenses.jpg"
          alt="licenses"
        />
      </li>
    </ul>
  </div>
</section>
