<section class="product">
  <div class="section-top">
    <div class="container">
      <div class="section-top__inner">
        <h1 class="section-top__title">
          Альфа-Центр Здоровья в Самаре, <br />
          медицинский центр
        </h1>
      </div>
    </div>
    <div class="section-top__menu">
      <div class="container">
        <ul class="section-top__list">
          <li class="section-top__item">
            <a class="section-top__link" href="#peculiarities">Особенности</a>
          </li>
          <li class="section-top__item">
            <a class="section-top__link" href="#prices">Эталонные цены </a>
          </li>
          <li class="section-top__item">
            <a class="section-top__link" href="#equipment">Оснащение</a>
          </li>
          <li class="section-top__item">
            <a class="section-top__link" href="#doctors">Врачи</a>
          </li>
          <li class="section-top__item">
            <a class="section-top__link" href="#reviews">Отзывы</a>
          </li>
          <li class="section-top__item">
            <a class="section-top__link" href="#licenses">Лицензии</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__nav-wrap swiper" id="slider-nav">
              <ul class="swiper-wrapper">
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product-slider/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product-slider/2.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product-slider/3.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product-slider/4.jpg" alt="Слайд №1" />
                </li>
              </ul>
            </div>

            <!-- <div class="slider-thumbs__nav-control">
                <button
                  class="swiper-button-prev"
                  type="button"
                  aria-label="Предыдущий"
                ></button>
                <button
                  class="swiper-button-next"
                  type="button"
                  aria-label="Следующий"
                ></button>
              </div> -->
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product-slider/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product-slider/2.jpg"
                >
                  <img src="img/product-slider/2.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product-slider/3.jpg"
                >
                  <img src="img/product-slider/3.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product-slider/3.jpg"
                >
                  <img src="img/product-slider/4.jpg" alt="Слайд №1" />
                </a>
              </li>
            </ul>

            <!-- <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button> -->
          </div>
        </div>
      </div>
      <div class="product-info">
        <address class="product-info__address">
          Самара, ул Ново-Садовая, д 311
        </address>

        <div class="product-info__links">
          <a class="product-info__link clinic-info__link--address">
            Куйбышевский район
          </a>
          <a
            class="product-info__link clinic-info__link--phone"
            href="tel:+78462010870"
          >
            +7 (846) 201-08-70
          </a>
        </div>

        <div class="product-info__map map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A27f1dbe036244e7c46eccd6a89911e63f60f864bcf50167f4d0e064a94918c9c&amp;source=constructor"
            width="400"
            height="400"
          ></iframe>

          <button class="map__btn">Открыть карту на весь экран</button>
        </div>

        <div class="product-info__schedule">
          <span>Сегодня</span>
          <p>
            пн-пт с 08:00 до 21:00; сб с 09:00 до 17:00; вс с 09:00 до 18:00
          </p>
        </div>

        <button class="product-info__btn btn" type="button">
          Записаться на прием
        </button>
      </div>
    </div>
  </div>
</section>
