<section class="product-reviews" id="reviews">
  <div class="container">
    <h2 class="product-reviews__title product-title">Отзывы</h2>

    <ul class="product-reviews__list">
      <li class="product-reviews__item">
        <div class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__person">
              <img
                class="reviews-card__img"
                src="img/reviews-default.jpg"
                alt="reviews"
              />
              <div class="reviews-card__info">
                <span class="reviews-card__name">Ирина Иванова</span>
                <div class="reviews-card__date">
                  <span>29.09.2022 </span>
                  <span>15:00</span>
                </div>
              </div>
            </div>

            <div class="reviews-card__rating rating">
              <ul class="rating__stars">
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star rating__star--disabled"></li>
              </ul>
            </div>
          </div>

          <div class="reviews-card__text">
            <p>
              Дважды была у данного гинеколога. Ужасное общение, спросила
              действительно ли у меня кровь в моче (пришла не по ДМС с циститом
              направили к ней). И так страшно, мало ли что, ещё и такие вопросы
              странные, как будто я просто так пришла. Сказала пить монурал, не
              важно в какое время (другие врачи назначали его пить перед сном).
            </p>
          </div>
        </div>
      </li>
      <li class="product-reviews__item">
        <div class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__person">
              <img
                class="reviews-card__img"
                src="img/reviews-default.jpg"
                alt="reviews"
              />
              <div class="reviews-card__info">
                <span class="reviews-card__name">Ирина Иванова</span>
                <div class="reviews-card__date">
                  <span>29.09.2022 </span>
                  <span>15:00</span>
                </div>
              </div>
            </div>

            <div class="reviews-card__rating rating">
              <ul class="rating__stars">
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star rating__star--disabled"></li>
              </ul>
            </div>
          </div>

          <div class="reviews-card__text">
            <p>
              Дважды была у данного гинеколога. Ужасное общение, спросила
              действительно ли у меня кровь в моче (пришла не по ДМС с циститом
              направили к ней). И так страшно, мало ли что, ещё и такие вопросы
              странные, как будто я просто так пришла. Сказала пить монурал, не
              важно в какое время (другие врачи назначали его пить перед сном).
            </p>
          </div>
        </div>
      </li>
      <li class="product-reviews__item">
        <div class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__person">
              <img
                class="reviews-card__img"
                src="img/reviews-default.jpg"
                alt="reviews"
              />
              <div class="reviews-card__info">
                <span class="reviews-card__name">Ирина Иванова</span>
                <div class="reviews-card__date">
                  <span>29.09.2022 </span>
                  <span>15:00</span>
                </div>
              </div>
            </div>

            <div class="reviews-card__rating rating">
              <ul class="rating__stars">
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star rating__star--disabled"></li>
              </ul>
            </div>
          </div>

          <div class="reviews-card__text">
            <p>
              Дважды была у данного гинеколога. Ужасное общение, спросила
              действительно ли у меня кровь в моче (пришла не по ДМС с циститом
              направили к ней). И так страшно, мало ли что, ещё и такие вопросы
              странные, как будто я просто так пришла. Сказала пить монурал, не
              важно в какое время (другие врачи назначали его пить перед сном).
            </p>
          </div>
        </div>
      </li>
      <li class="product-reviews__item">
        <div class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__person">
              <img
                class="reviews-card__img"
                src="img/reviews-default.jpg"
                alt="reviews"
              />
              <div class="reviews-card__info">
                <span class="reviews-card__name">Ирина Иванова</span>
                <div class="reviews-card__date">
                  <span>29.09.2022 </span>
                  <span>15:00</span>
                </div>
              </div>
            </div>

            <div class="reviews-card__rating rating">
              <ul class="rating__stars">
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star"></li>
                <li class="rating__star rating__star--disabled"></li>
              </ul>
            </div>
          </div>

          <div class="reviews-card__text">
            <p>
              Дважды была у данного гинеколога. Ужасное общение, спросила
              действительно ли у меня кровь в моче (пришла не по ДМС с циститом
              направили к ней). И так страшно, мало ли что, ещё и такие вопросы
              странные, как будто я просто так пришла. Сказала пить монурал, не
              важно в какое время (другие врачи назначали его пить перед сном).
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
