<section class="product-peculiarities" id="peculiarities">
  <div class="container">
    <h2 class="product-peculiarities__title product-title">Особенности</h2>

    <div class="product-peculiarities__text">
      <p>
        Многопрофильный медицинский центр Альфа-Центр Здоровья в Самаре
        принадлежит одной из самых крупных сетей федеральных клиник по всей
        России с одноименным названием, которая уже более 10 лет оказывает
        качественные медицинские услуги взрослым и детям.
      </p>
      <p>
        Альфа-Центр Здоровья оснащен современным медицинским оборудованием, что
        позволяет с высокой точностью осуществлять диагностику заболеваний в
        любых, даже самых сложных случаях. Медицинский центр оказывает полный
        спектр амбулаторно-поликлинических и диагностических услуг.
      </p>
    </div>

    <div class="conventions">
      <ul class="conventions__list">
        <li class="conventions__item conventions__item--payment">
          Оплата сертификатом «Безопасная имплантация»
        </li>
        <li class="conventions__item conventions__item--gift">
          Розыгрыш призов
        </li>
        <li class="conventions__item conventions__item--credit">
          Беспроцентная рассрочка или кредит
        </li>
        <li class="conventions__item conventions__item--discount">
          Скидки в «горящее время»
        </li>
        <li class="conventions__item conventions__item--bonus">
          Частичная оплата бонусами
        </li>
        <li class="conventions__item conventions__item--guarantee">
          Расширенная гарантия от клиники
        </li>
        <li class="conventions__item conventions__item--finance">
          Финансовая гарантия владельца сайта
        </li>
        <li class="conventions__item conventions__item--anesthesia">
          Имплантация под наркозом
        </li>
      </ul>
    </div>
  </div>
</section>
