<section class="product-prices" id="prices">
  <div class="container">
    <h2 class="product-prices__title product-title">Эталонные цены</h2>

    <ul class="product-prices__list">
      <li class="product-prices-item">
        <div class="product-prices-item__left">Удаление зуба</div>
        <div class="product-prices-item__price">от 100 000 ₽</div>
        <button class="product-prices-item__btn btn">
          Записаться на прием
        </button>
      </li>
      <li class="product-prices-item">
        <div class="product-prices-item__left">Капельницы</div>
        <div class="product-prices-item__price">от 100 000 ₽</div>
        <button class="product-prices-item__btn btn">
          Записаться на прием
        </button>
      </li>
      <li class="product-prices-item">
        <div class="product-prices-item__left">УЗИ сердца / ЭхоКГ</div>
        <div class="product-prices-item__price">от 100 000 ₽</div>
        <button class="product-prices-item__btn btn">
          Записаться на прием
        </button>
      </li>
      <li class="product-prices-item">
        <div class="product-prices-item__left">УЗИ малого таза</div>
        <div class="product-prices-item__price">от 100 000 ₽</div>
        <button class="product-prices-item__btn btn">
          Записаться на прием
        </button>
      </li>
      <li class="product-prices-item">
        <div class="product-prices-item__left">ЭЭГ</div>
        <div class="product-prices-item__price">от 100 000 ₽</div>
        <button class="product-prices-item__btn btn">
          Записаться на прием
        </button>
      </li>
      <li class="product-prices-item">
        <div class="product-prices-item__left">УЗИ молочных желез</div>
        <div class="product-prices-item__price">от 100 000 ₽</div>
        <button class="product-prices-item__btn btn">
          Записаться на прием
        </button>
      </li>
      <li class="product-prices-item">
        <div class="product-prices-item__left">
          Радиоволновое удаление папиллом (1 элемент)
        </div>
        <div class="product-prices-item__price">от 100 000 ₽</div>
        <button class="product-prices-item__btn btn">
          Записаться на прием
        </button>
      </li>
    </ul>
  </div>
</section>
