<section class="product-equipment" id="equipment">
  <div class="container">
    <h2 class="product-equipment__title product-title">Оснащение</h2>

    <ul class="product-equipment__list">
      <li class="product-equipment__item">• Компьютерный томограф</li>
      <li class="product-equipment__item">• Компрессоры и аспираторы</li>
      <li class="product-equipment__item">• CAD/CAM системы</li>
      <li class="product-equipment__item">• Стоматологический микроскоп</li>
      <li class="product-equipment__item">• Наконечники и микромоторы</li>
      <li class="product-equipment__item">• Мебель для стоматологии</li>
      <li class="product-equipment__item">• 3D принтер</li>
      <li class="product-equipment__item">• Зуботехническое оборудование</li>
      <li class="product-equipment__item">• Стерилизационное оборудование</li>
    </ul>
  </div>
</section>
