<section class="product-doctors" id="doctors">
  <div class="container">
    <h2 class="product-doctors__title product-title">Врачи клиники</h2>

    <ul class="product-doctors__list">
      <li class="product-doctors__item">
        <article class="doctors-card">
          <div class="doctors-card__top">
            <img src="img/doctor.jpg" alt="doctor" />
          </div>
          <div class="doctors-card__body">
            <h3 class="doctors-card__title">
              <a href="#"> Кузин Максим Эдуардович </a>
            </h3>
            <span class="doctors-card__experience">Стаж 2 года</span>

            <div class="doctors-card__badges badges">
              <a class="badges__link" href="#">педиатр</a>
              <a class="badges__link" href="#">детский</a>
            </div>

            <button class="doctors-card__appointment" type="button">
              Запись на приём
            </button>

            <div class="doctors-card__schedule">Сегодня с 08:00 до 12:00</div>
          </div>
        </article>
      </li>
      <li class="product-doctors__item">
        <article class="doctors-card">
          <div class="doctors-card__top">
            <img src="img/doctor.jpg" alt="doctor" />
          </div>
          <div class="doctors-card__body">
            <h3 class="doctors-card__title">
              <a href="#"> Кузин Максим Эдуардович </a>
            </h3>
            <span class="doctors-card__experience">Стаж 2 года</span>

            <div class="doctors-card__badges badges">
              <a class="badges__link" href="#">педиатр</a>
              <a class="badges__link" href="#">детский</a>
            </div>

            <button class="doctors-card__appointment" type="button">
              Запись на приём
            </button>

            <div class="doctors-card__schedule">Сегодня с 08:00 до 12:00</div>
          </div>
        </article>
      </li>
      <li class="product-doctors__item">
        <article class="doctors-card">
          <div class="doctors-card__top">
            <img src="img/doctor.jpg" alt="doctor" />
          </div>
          <div class="doctors-card__body">
            <h3 class="doctors-card__title">
              <a href="#"> Кузин Максим Эдуардович </a>
            </h3>
            <span class="doctors-card__experience">Стаж 2 года</span>

            <div class="doctors-card__badges badges">
              <a class="badges__link" href="#">педиатр</a>
              <a class="badges__link" href="#">детский</a>
            </div>

            <button class="doctors-card__appointment" type="button">
              Запись на приём
            </button>

            <div class="doctors-card__schedule">Сегодня с 08:00 до 12:00</div>
          </div>
        </article>
      </li>
      <li class="product-doctors__item">
        <article class="doctors-card">
          <div class="doctors-card__top">
            <img src="img/doctor.jpg" alt="doctor" />
          </div>
          <div class="doctors-card__body">
            <h3 class="doctors-card__title">
              <a href="#"> Кузин Максим Эдуардович </a>
            </h3>
            <span class="doctors-card__experience">Стаж 2 года</span>

            <div class="doctors-card__badges badges">
              <a class="badges__link" href="#">педиатр</a>
              <a class="badges__link" href="#">детский</a>
            </div>

            <button class="doctors-card__appointment" type="button">
              Запись на приём
            </button>

            <div class="doctors-card__schedule">Сегодня с 08:00 до 12:00</div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
