<section class="reference-price">
  <div class="container">
    <div class="reference-price__wrapper">
      <h2 class="reference-price__title">
        Эталонная цена безопасной имплантации, ценовые уровни и гарантии
      </h2>
      <p class="reference-price__text">
        Для того, чтобы удобнее сравнивать предложения разных стоматологий, мы
        ввели понятие эталонная цена.
      </p>

      <div class="reference-price__inner">
        <span class="reference-price__heading">
          Эталонная цена включает в себя:
        </span>

        <ul class="reference-price__list">
          <li class="reference-price__item">• Операцию имплантации</li>
          <li class="reference-price__item">• Формирователь десны</li>
          <li class="reference-price__item">• Имплант</li>
          <li class="reference-price__item">• Шовный материал</li>
          <li class="reference-price__item">• Установку формирователя десны</li>
          <li class="reference-price__item">• Навигационный шаблон</li>
        </ul>
      </div>

      <div class="reference-price__note">
        <span class="reference-price__heading">
          Ценовые уровни в зависимости от гарантийных обязательств:
        </span>
        <p class="reference-price__descr">
          В случае отторжения импланта в ближайшие 6 мес. после операции
          независимо от ценового уровня бесплантно выполняется повторная
          операция имплантации и предоставляются все необходимые расходные
          материалы включая имплант и навигационный шаблон.
        </p>
      </div>
    </div>
  </div>
</section>
