<section class="request">
  <div class="section-top">
    <div class="container">
      <div class="section-top__inner">
        <h2 class="section-top__title mb">
          Найдено 4 клиники максимально <br />
          соответствующие вашему запрос
        </h2>

        <p class="section-top__text">
          Выберите клиники от которых вы хотели бы получить подробную информацию
          о ценах, гарантиях и условиях безопасной три Д имплантации
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="request__wrapper section-wrapper">
      <ul class="request__list">
        <li class="request__item">
          <article class="clinic-card">
            <div class="clinic-card__inner">
              <div class="clinic-card__img">
                <img src="img/clinics/1.jpg" alt="clinic" />
              </div>
              <div class="clinic-card__info">
                <h3 class="clinic-card__title">Медицина на Ново-Садовой 311</h3>
                <span class="clinic-card__price">от 100 000 ₽</span>

                <div class="conventions">
                  <ul class="conventions__list">
                    <li class="conventions__item conventions__item--payment">
                      Оплата сертификатом «Безопасная имплантация»
                    </li>
                    <li class="conventions__item conventions__item--gift">
                      Розыгрыш призов
                    </li>
                    <li class="conventions__item conventions__item--credit">
                      Беспроцентная рассрочка или кредит
                    </li>
                    <li class="conventions__item conventions__item--discount">
                      Скидки в «горящее время»
                    </li>
                    <li class="conventions__item conventions__item--bonus">
                      Частичная оплата бонусами
                    </li>
                    <li class="conventions__item conventions__item--guarantee">
                      Расширенная гарантия от клиники
                    </li>
                    <li class="conventions__item conventions__item--finance">
                      Финансовая гарантия владельца сайта
                    </li>
                    <li class="conventions__item conventions__item--anesthesia">
                      Имплантация под наркозом
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="clinic-card__right clinic-info">
              <address class="clinic-info__address">
                г Самара, ш Московское, д 25
              </address>

              <div class="clinic-info__links">
                <a class="clinic-info__link clinic-info__link--schedule">
                  Сегодня: 08:00 – 20:00
                </a>
                <a
                  class="clinic-info__link clinic-info__link--phone"
                  href="tel:+78462010854"
                >
                  +7 (846) 201-08-54
                </a>
              </div>

              <button class="clinic-info__btn btn" type="button">
                Записаться на прием
              </button>
            </div>
          </article>
        </li>
        <li class="request__item">
          <article class="clinic-card">
            <div class="clinic-card__inner">
              <div class="clinic-card__img">
                <img src="img/clinics/2.jpg" alt="clinic" />
              </div>
              <div class="clinic-card__info">
                <h3 class="clinic-card__title">Медицина на Ново-Садовой 311</h3>
                <span class="clinic-card__price">от 100 000 ₽</span>

                <div class="conventions">
                  <ul class="conventions__list">
                    <li class="conventions__item conventions__item--payment">
                      Оплата сертификатом «Безопасная имплантация»
                    </li>
                    <li class="conventions__item conventions__item--gift">
                      Розыгрыш призов
                    </li>
                    <li class="conventions__item conventions__item--credit">
                      Беспроцентная рассрочка или кредит
                    </li>
                    <li class="conventions__item conventions__item--discount">
                      Скидки в «горящее время»
                    </li>
                    <li class="conventions__item conventions__item--bonus">
                      Частичная оплата бонусами
                    </li>
                    <li class="conventions__item conventions__item--guarantee">
                      Расширенная гарантия от клиники
                    </li>
                    <li class="conventions__item conventions__item--finance">
                      Финансовая гарантия владельца сайта
                    </li>
                    <li class="conventions__item conventions__item--anesthesia">
                      Имплантация под наркозом
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="clinic-card__right clinic-info">
              <address class="clinic-info__address">
                г Самара, ш Московское, д 25
              </address>

              <div class="clinic-info__links">
                <a class="clinic-info__link clinic-info__link--schedule">
                  Сегодня: 08:00 – 20:00
                </a>
                <a
                  class="clinic-info__link clinic-info__link--phone"
                  href="tel:+78462010854"
                >
                  +7 (846) 201-08-54
                </a>
              </div>

              <button class="clinic-info__btn btn" type="button">
                Записаться на прием
              </button>
            </div>
          </article>
        </li>
        <li class="request__item">
          <article class="clinic-card">
            <div class="clinic-card__inner">
              <div class="clinic-card__img">
                <img src="img/clinics/3.jpg" alt="clinic" />
              </div>
              <div class="clinic-card__info">
                <h3 class="clinic-card__title">Медицина на Ново-Садовой 311</h3>
                <span class="clinic-card__price">от 100 000 ₽</span>

                <div class="conventions">
                  <ul class="conventions__list">
                    <li class="conventions__item conventions__item--payment">
                      Оплата сертификатом «Безопасная имплантация»
                    </li>
                    <li class="conventions__item conventions__item--gift">
                      Розыгрыш призов
                    </li>
                    <li class="conventions__item conventions__item--credit">
                      Беспроцентная рассрочка или кредит
                    </li>
                    <li class="conventions__item conventions__item--discount">
                      Скидки в «горящее время»
                    </li>
                    <li class="conventions__item conventions__item--bonus">
                      Частичная оплата бонусами
                    </li>
                    <li class="conventions__item conventions__item--guarantee">
                      Расширенная гарантия от клиники
                    </li>
                    <li class="conventions__item conventions__item--finance">
                      Финансовая гарантия владельца сайта
                    </li>
                    <li class="conventions__item conventions__item--anesthesia">
                      Имплантация под наркозом
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="clinic-card__right clinic-info">
              <address class="clinic-info__address">
                г Самара, ш Московское, д 25
              </address>

              <div class="clinic-info__links">
                <a class="clinic-info__link clinic-info__link--schedule">
                  Сегодня: 08:00 – 20:00
                </a>
                <a
                  class="clinic-info__link clinic-info__link--phone"
                  href="tel:+78462010854"
                >
                  +7 (846) 201-08-54
                </a>
              </div>

              <button class="clinic-info__btn btn" type="button">
                Записаться на прием
              </button>
            </div>
          </article>
        </li>
        <li class="request__item">
          <article class="clinic-card">
            <div class="clinic-card__inner">
              <div class="clinic-card__img">
                <img src="img/clinics/4.jpg" alt="clinic" />
              </div>
              <div class="clinic-card__info">
                <h3 class="clinic-card__title">Медицина на Ново-Садовой 311</h3>
                <span class="clinic-card__price">от 100 000 ₽</span>

                <div class="conventions">
                  <ul class="conventions__list">
                    <li class="conventions__item conventions__item--payment">
                      Оплата сертификатом «Безопасная имплантация»
                    </li>
                    <li class="conventions__item conventions__item--gift">
                      Розыгрыш призов
                    </li>
                    <li class="conventions__item conventions__item--credit">
                      Беспроцентная рассрочка или кредит
                    </li>
                    <li class="conventions__item conventions__item--discount">
                      Скидки в «горящее время»
                    </li>
                    <li class="conventions__item conventions__item--bonus">
                      Частичная оплата бонусами
                    </li>
                    <li class="conventions__item conventions__item--guarantee">
                      Расширенная гарантия от клиники
                    </li>
                    <li class="conventions__item conventions__item--finance">
                      Финансовая гарантия владельца сайта
                    </li>
                    <li class="conventions__item conventions__item--anesthesia">
                      Имплантация под наркозом
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="clinic-card__right clinic-info">
              <address class="clinic-info__address">
                г Самара, ш Московское, д 25
              </address>

              <div class="clinic-info__links">
                <a class="clinic-info__link clinic-info__link--schedule">
                  Сегодня: 08:00 – 20:00
                </a>
                <a
                  class="clinic-info__link clinic-info__link--phone"
                  href="tel:+78462010854"
                >
                  +7 (846) 201-08-54
                </a>
              </div>

              <button class="clinic-info__btn btn" type="button">
                Записаться на прием
              </button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
