<section class="stock">
  <div class="section-top">
    <div class="container">
      <div class="section-top__inner">
        <h1 class="section-top__title">
          Акции и специальные предложения <br />
          клиник Самары
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="stock__wrapper section-wrapper">
      <ul class="stock__list">
        <li class="stock__item">
          <article class="stock-card">
            <div class="stock-card__inner">
              <div class="stock-card__img">
                <img src="img/stock/1.jpg" alt="stock" />
              </div>
              <div class="stock-card__info">
                <span class="stock-card__abovetitle">до 30 сентября</span>
                <h3 class="stock-card__title">
                  Прием стоматолога — бесплатно!
                </h3>
                <div class="stock-card__text">
                  <p>
                    Общий визуальный осмотр с оценкой антропометрических
                    показателей <br />
                    Визуальную оценку локального статуса
                  </p>
                  <p>
                    *Акция не распространяется на консультацию детского
                    стоматолога.
                  </p>
                </div>
                <a class="stock-card__link" href="#">Подробнее об акции</a>
              </div>
            </div>
            <div class="stock-card__right clinic-info">
              <span class="clinic-info__title">Стоматология Эденталь</span>
              <address class="clinic-info__address">
                г Самара, ул Авроры, д 63
              </address>

              <div class="clinic-info__links">
                <a class="clinic-info__link clinic-info__link--address">
                  Куйбышевский район
                </a>
                <a
                  class="clinic-info__link clinic-info__link--phone"
                  href="tel:+78462010870"
                >
                  +7 (846) 201-08-70
                </a>
              </div>

              <button class="clinic-info__btn btn" type="button">
                Записаться на прием
              </button>
            </div>
          </article>
        </li>
        <li class="stock__item">
          <article class="stock-card">
            <div class="stock-card__inner">
              <div class="stock-card__img">
                <img src="img/stock/2.jpg" alt="stock" />
              </div>
              <div class="stock-card__info">
                <span class="stock-card__abovetitle">до 30 сентября</span>
                <h3 class="stock-card__title">
                  Прием стоматолога — бесплатно!
                </h3>
                <div class="stock-card__text">
                  <p>
                    Общий визуальный осмотр с оценкой антропометрических
                    показателей <br />
                    Визуальную оценку локального статуса
                  </p>
                  <p>
                    *Акция не распространяется на консультацию детского
                    стоматолога.
                  </p>
                </div>
                <a class="stock-card__link" href="#">Подробнее об акции</a>
              </div>
            </div>
            <div class="stock-card__right clinic-info">
              <span class="clinic-info__title">Стоматология Эденталь</span>
              <address class="clinic-info__address">
                г Самара, ул Авроры, д 63
              </address>

              <div class="clinic-info__links">
                <a class="clinic-info__link clinic-info__link--address">
                  Куйбышевский район
                </a>
                <a
                  class="clinic-info__link clinic-info__link--phone"
                  href="tel:+78462010870"
                >
                  +7 (846) 201-08-70
                </a>
              </div>

              <button class="clinic-info__btn btn" type="button">
                Записаться на прием
              </button>
            </div>
          </article>
        </li>
        <li class="stock__item">
          <article class="stock-card">
            <div class="stock-card__inner">
              <div class="stock-card__img">
                <img src="img/stock/3.jpg" alt="stock" />
              </div>
              <div class="stock-card__info">
                <span class="stock-card__abovetitle">до 30 сентября</span>
                <h3 class="stock-card__title">
                  Прием стоматолога — бесплатно!
                </h3>
                <div class="stock-card__text">
                  <p>
                    Общий визуальный осмотр с оценкой антропометрических
                    показателей <br />
                    Визуальную оценку локального статуса
                  </p>
                  <p>
                    *Акция не распространяется на консультацию детского
                    стоматолога.
                  </p>
                </div>
                <a class="stock-card__link" href="#">Подробнее об акции</a>
              </div>
            </div>
            <div class="stock-card__right clinic-info">
              <span class="clinic-info__title">Стоматология Эденталь</span>
              <address class="clinic-info__address">
                г Самара, ул Авроры, д 63
              </address>

              <div class="clinic-info__links">
                <a class="clinic-info__link clinic-info__link--address">
                  Куйбышевский район
                </a>
                <a
                  class="clinic-info__link clinic-info__link--phone"
                  href="tel:+78462010870"
                >
                  +7 (846) 201-08-70
                </a>
              </div>

              <button class="clinic-info__btn btn" type="button">
                Записаться на прием
              </button>
            </div>
          </article>
        </li>
        <li class="stock__item">
          <article class="stock-card">
            <div class="stock-card__inner">
              <div class="stock-card__img">
                <img src="img/stock/4.jpg" alt="stock" />
              </div>
              <div class="stock-card__info">
                <span class="stock-card__abovetitle">до 30 сентября</span>
                <h3 class="stock-card__title">
                  Прием стоматолога — бесплатно!
                </h3>
                <div class="stock-card__text">
                  <p>
                    Общий визуальный осмотр с оценкой антропометрических
                    показателей <br />
                    Визуальную оценку локального статуса
                  </p>
                  <p>
                    *Акция не распространяется на консультацию детского
                    стоматолога.
                  </p>
                </div>
                <a class="stock-card__link" href="#">Подробнее об акции</a>
              </div>
            </div>
            <div class="stock-card__right clinic-info">
              <span class="clinic-info__title">Стоматология Эденталь</span>
              <address class="clinic-info__address">
                г Самара, ул Авроры, д 63
              </address>

              <div class="clinic-info__links">
                <a class="clinic-info__link clinic-info__link--address">
                  Куйбышевский район
                </a>
                <a
                  class="clinic-info__link clinic-info__link--phone"
                  href="tel:+78462010870"
                >
                  +7 (846) 201-08-70
                </a>
              </div>

              <button class="clinic-info__btn btn" type="button">
                Записаться на прием
              </button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
