<section class="technology">
  <div class="container">
    <div class="technology__wrapper">
      <div class="technology__offer">
        <h2 class="technology__title">
          технология XXI века Безопасная 3D имплантация по шаблону
        </h2>

        <p class="technology__text">
          Навигационный шаблон помогает установить импланты с точностью до
          микрона, что позволяет добиться приживляемости в 99.9% случаев.
        </p>
      </div>
    </div>
  </div>
  <div
    class="technology__img"
    style="background-image: url('img/technology-img.png')"
  ></div>
</section>
