<section class="thanks-offer">
  <div class="container">
    <h1 class="thanks-offer__title">
      Спасибо за отправку заявки <br />
      на предложение по цене, гарантиям и условиям имплантации
    </h1>
    <div class="thanks-offer__text">
      <p>
        Заявка для расчёта цены и условий имплантации отправлена в выбранные
        клиники.
        <br />
        Предварительный расчёт цены* и описание условий имплантации клиники
        отправят по указанным вами контактам в ближайшие три дня.
      </p>
      <p>
        Во всех клиниках используется технология безопасной имплантации по
        навигационному шаблону.
      </p>
      <p>
        Вы можете сэкономить до 5000 руб. и получить дополнительную гарантию на
        10 000 руб. от владельца настоящего сайта, для этого приобретайте <br />
        сертификат “Безопасная имплантация с дополнительной гарантией”.
      </p>
      <p>Напоминаем цена сертификата 500 руб., сэкономить можно до 5000 руб.</p>
      <p>
        *Вы получите предварительную цену, напоминаем, что точную цену
        имплантации можно назвать только после консультации врача.
      </p>
    </div>
  </div>
</section>
