<section class="thanks-certificate">
  <div class="container">
    <h1 class="thanks-certificate__title">
      Спасибо за доверие. <br />
      Вы оплатили сертификат “Безопасная имплантация“
    </h1>
    <div class="thanks-certificate__text">
      <p>
        Сертификат, памятка с таблицей сравнения условий имплантации и чек об
        оплате отправлен на указанную <br />
        вами электронную почту,
        <br />
        Если не получили, проверьте папку “Спам”
        <br />
        Сохраняете чек и сертификат в течении 6 мес. с момента выполнения
        имплантации.
      </p>

      <p>
        Сертификат можно использовать для частичной оплаты имплантации в
        клиниках имеющих соответствующий знак. <br />
        Разные клиники по разному оценивают стоимость сертификата
      </p>
    </div>
    <ul class="thanks-certificate__list">
      <li class="thanks-certificate__item">
        <span>х 2</span>
        <span>приравнивают к сумме</span>
        <span>1 000 рублей</span>
      </li>
      <li class="thanks-certificate__item">
        <span>х 5</span>
        <span>приравнивают к сумме</span>
        <span>2 500 рублей</span>
      </li>
      <li class="thanks-certificate__item">
        <span>х 10</span>
        <span>приравнивают к сумме</span>
        <span>5 000 рублей</span>
      </li>
    </ul>
    <div class="thanks-certificate__text">
      <p>
        Для того, чтобы использовать сертификатом покажите администратору
        сертификат и чек об оплате <br />
        (распечатайте или покажите на смартфоне).
      </p>
      <p>
        При оплате имплантации сертификатом действует гарантия на приживляемость
        от владельца сайта.
      </p>
      <p>
        <b>
          В случае отторжения импланта в ближайшие 6 мес. после операции
          владельцу сертификата выплачивается неустойка в сумме 10 000 руб.
        </b>
      </p>
    </div>
  </div>
</section>
